/* common styles starts  */
/* Inter font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Merriweather font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red-text,
.event-section span {
  color: #ff0000;
}
.white-text {
  color: white;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.merriweather-font {
  font-family: Merriweather;
}

/* this is the common style of p tag which is used in multiple area  */

.common-para {
  color: #000000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* this is the common margin and width which is used  in every section  */
.common-margin-width {
  width: 80%;
  margin: 120px auto;
}
/* common styles ends  */

/* header styles starts  */
.banner {
  position: relative;
  text-align: center;
  color: white;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #000000, #000000);
}
.banner img {
  width: 100%;
  opacity: 0.8;
}
.banner .banner-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*I searched it from google */
}
.banner-desc h3 {
  font-size: 32px;
  font-weight: 400;
}
.banner-desc h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 95px;
}
/* header styles ends  */

/* discount section starts  */
.discount-section {
  width: 60%;
  margin: 120px auto;
}
.discount-section .discount-details {
  text-align: center;
}
.discount-section .discount-details h1 {
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount-section .discount-details p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.discount-section .discount-details h3 {
  font-size: 48px;
  font-weight: 700px;
  margin-bottom: 48px;
}
.discount-section .new-year-image {
  width: 100%;
}
.discount-section .new-year-image img {
  width: 100%;
}
/* discount section ends */

/* midnight-party section starts  */
.mid-party {
  position: relative;
  text-align: center;
  color: white;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.mid-party img {
  width: 100%;
}
.mid-party .mid-desc {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%); /*I searched it from google */
}
.mid-party .mid-desc h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.mid-party .mid-desc p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 32px;
}
.mid-party .mid-desc h3 {
  font-size: 20px;
  font-weight: 700;
  margin-left: 32px;
}
/* midnight-party section ends */

/* event section starts  */
.event-section {
  text-align: center;
  padding: 100px 0;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.event-section h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.event-section button {
  background-color: red;
  color: white;
  display: inline-flex;
  font-size: 20px;
  font-weight: 700px;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}
/* event section ends */

/* upcoming container styles starts   */
.upcoming-container {
  display: flex;
  justify-content: space-between;
}
.upcoming-container .left {
  text-align: left;
  padding-top: 112px;
}
.upcoming-container .left h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.upcoming-container .left h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 22px;
}
.upcoming-container .center {
  padding: 50px;
  border-radius: 50%;
  border: 20px solid red;
}

.upcoming-container .right {
  margin-left: 118px;
  padding-top: 112px;
}
.upcoming-container .right h1 {
  margin-bottom: 16px;
}
.upcoming-container .right img {
  height: 140px;
  width: 140px;
  margin-top: 43px;
}
/* upcoming container styles ends   */

/* holiday sales area styles  starts */
.holiday-sales .sale-details {
  text-align: center;
  margin-bottom: 68px;
}

.holiday-sales .sale-details h3 {
  font-size: 24px;
  font-weight: 500;
}
.holiday-sales .sale-details h1 {
  font-size: 72px;
  font-weight: 900;
}

.holiday-sales .middle-images {
  margin-top: 68px;
  display: flex;
  justify-content: end;
}
.holiday-sales .middle-images .right-side {
  height: 400px;
  width: 400px;
  background-image: url("../images/Rectangle 1.png");
  background-repeat: no-repeat;
  position: relative;
}
.holiday-sales .middle-images .right-side .round {
  position: absolute;
  top: 40px;
  left: -180px;
}
.holiday-sales .bottom-image {
  position: relative;
  background-image: url("../images/Rectangle 2.png");
  background-repeat: no-repeat;
  position: left;
  height: 230px;
  background-size: cover;
}
.holiday-sales .bottom-image img {
  position: absolute;
  top: -400px;
  left: 0px;
}

/* holiday sales area styles  ends */

/* gift section styles starts  */
.gift-section .gift-details {
  text-align: left;
}
.gift-section .gift-details h3 {
  font-size: 24px;
  font-weight: 500;
}

.gift-section .gift-details h1 {
  font-size: 48px;

  font-weight: 900;
}

.gift-section .gift-cards .part-1,
.gift-section .gift-cards .part-2 {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.gift-section .gift-cards img {
  width: 100%;
}
/* gift section styles ends */

/* subscribe section starts  */

.sub-sec {
  text-align: center;
  padding: 80px 212px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.sub-sec .input-area {
  height: 60px;
  width: 450px;
  margin: 48px auto;
  display: flex;
}
.sub-sec .input-area input {
  height: 100%;
  width: 70%;
  border-radius: 50px 0px 0px 50px;
  border: none;
  padding: 25px 0px 25px 30px;
}

.sub-sec .input-area button {
  height: 100%;
  width: 30%;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  font-size: 20px;
  color: white;
}

/* subscribe section ends */

/* footer section starts */

footer {
  background-color: black;
  color: white;
  padding: 50px 0px 50px 0px;
}

.owner-address {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.owner-address house {
  margin-top: 120px;
}
.owner-address .contact img {
}
.social-icons {
  display: flex;
  justify-content: center;
  margin: 48px auto;
}
.social-icons img {
  margin-right: 24px;
}

.bottom-area {
  display: flex;
  justify-content: space-between;
}

.bottom-area p,
.bottom-area h1 {
  margin-top: 50px;
}
.bottom-area h1 {
  font-size: 24px;
  font-weight: 500;
}
/* footer section ends */
